python3-xlib==0.15
PyAutoGUI==0.9.54
Pillow==10.1.0
git+https://github.com/moses-palmer/pynput.git@refs/pull/541/head # to make sure that it works on Apple Silicon
requests==2.32.4
numpy==2.2.6
lxml==5.4.0
pygame==2.6.1
pywinauto==0.6.9
pydantic==2.11.7
uvicorn==0.34.3
fastapi==0.115.12
python3-pyatspi==1.19.0
pycairo==1.28.0
python-multipart==0.0.20